/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/INSTALL
/install-sh
Makefile
Makefile.in
/missing
/src/.deps/
/src/*.o
/src/wmail
/stamp-h1
/wmail-*.tar.gz
