/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
*.c~
/depcomp
.deps/
*.h~
/INSTALL
/install-sh
Makefile
Makefile.in
/missing
*.o
/stamp-h1
/test-driver
/wmbiff-*.tar.gz
/wmbiff/test-suite.log
/wmbiff/test_tlscomm
/wmbiff/test_tlscomm.log
/wmbiff/test_tlscomm.trs
/wmbiff/test_wmbiff
/wmbiff/test_wmbiff.log
/wmbiff/test_wmbiff.trs
/wmbiff/wmbiff
/wmbiff/wmbiff-classic-master-contrast.xpm
/wmbiff/wmbiff-master-contrast.xpm
/wmbiff/wmbiffrc.5
/wmgeneral/libwmgeneral.a
