Source: wmacpi
Section: x11
Priority: optional
Maintainer: Simon Fowler <simon@dreamcraft.com.au>
Build-Depends: debhelper (>= 4), xlibs-dev
Standards-Version: 3.5.9

Package: wmacpi
Architecture: i386
Depends: ${shlibs:Depends}
Recommends: wmaker
Description: An ACPI battery monitor for WindowMaker
 This is a battery monitor that uses ACPI to query the battery status.
 This version should work with all recent kernels, both 2.4 and 2.6.
 .
 This is a reworked version to handle modern kernels, done by Simon
 Fowler <simon@dreamcraft.com.au>	  
 .
  Author: Simon Fowler <simon@dreamcraft.com.au>
  Homepage: http://himi.org/wmacpi-ng/
