body  {
	color: #FFF;
	font-size: 1.0em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #505075;
	border-size: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.hpadding   {
	color: #483d8b;
	font-weight: normal;
	font-size: 14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 0px 10px
}

.textpadding    {
	color: white;
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: normal;
	margin: 0;
	padding: 0 10px
}

a        {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

table .inner {
	margin-left: 1em;
	width: 90%;
}

h1       {
	color: #ebdeff;
	font-size: 20pt;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
	line-height: 22pt
}

h2       {
	color: #ebdeff;
	font-size: 18pt;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: italic;
	line-height: 20pt
}

h3        {
	color: #e8fd00;
	font-size: 14pt;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 16pt
}

h4       {
	color: #FFF;
	font-size: 12pt;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: bolder;
	line-height: 12pt
}

.caption {
	font-size: 11pt;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
}

a:hover, a:focus   {
	text-decoration: underline;
	font-style: italic;
	color: #CCC;
}

a:link, a:visited, a:active {
	text-decoration: underline;
	color: #FFF;
}

img {
	border: none;
}

#dock {
	position: absolute; top: 100px; left: 5px;
}

#inhalt {
        position: absolute; top: 40px; left: 100px;
        min-width: 800px;
}
div.screenshot {
      height: 250px;
      border: none;
      float: left;
      margin: 5px;
   }
