  <div id="dock">
    <table width="64" height="500" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/homewmaker.png" alt="Home" width="60" height="81"></a></td>
      </tr>

      <tr>
        <td><a href="{{ site.baseurl }}/news"><img src=
        "{{ site.baseurl }}/img/news.png" alt="News" width="60" height="81"></a></td>
      </tr>

      <tr>
        <td><a href="{{ site.baseurl }}/docs"><img src=
        "{{ site.baseurl }}/img/docs.png" alt="Documentation" width="60" height="81"></a></td>
      </tr>

      <tr>
        <td><a href="{{ site.baseurl }}/lists"><img src="{{ site.baseurl }}/img/mailing_list.png" alt="Mailing Lists" width="60" height=
        "81"></a></td>
      </tr>

      <tr>
        <td><a href="{{ site.baseurl }}/dev"><img src="{{ site.baseurl }}/img/development.png" alt="Development" width="60" height=
        "81"></a></td>
      </tr>

      <tr>
        <td><a href="{{ site.baseurl }}/themes"><img src="{{ site.baseurl }}/img/themes.png" alt="Themes" width="60" height=
        "81"></a></td>
      </tr>

      <tr>
        <td><a href="{{ site.baseurl }}/links"><img src="{{ site.baseurl }}/img/links.png" alt="Links" width="60" height=
        "81"></a></td>
      </tr>
    </table>
  </div>
