  <div id="dock">
    <table width="64" height="500" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><a href="/"><img src="/homewmaker.png" alt="Home" width="60" height="81"></a></td>
      </tr>

      <tr>
        <td><a href="/news.html"><img src=
        "/news.png" alt="News" width="60" height="81"></a></td>
      </tr>

      <tr>
        <td><a href="/docs.html"><img src=
        "/docs.png" alt="Documentation" width="60" height="81"></a></td>
      </tr>

      <tr>
        <td><a href="/lists.html"><img src="/mailing_list.png" alt="Mailing Lists" width="60" height=
        "81"></a></td>
      </tr>

      <tr>
        <td><a href="/dev.html"><img src="/development.png" alt="Development" width="60" height=
        "81"></a></td>
      </tr>

      <tr>
        <td><a href="/themes.html"><img src="/themes.png" alt="Themes" width="60" height=
        "81"></a></td>
      </tr>

      <tr>
        <td><a href="/links.html"><img src="/links.png" alt="Links" width="60" height=
        "81"></a></td>
      </tr>
    </table>
  </div>
