  <div id="dock">
    <table width="64" height="500" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/homewmaker.png" alt="Home" width="60" height="81"></a></td>
      </tr>

      <tr>
        <td><a href="{{ site.baseurl }}/news.html"><img src=
        "{{ site.baseurl }}/news.png" alt="News" width="60" height="81"></a></td>
      </tr>

      <tr>
        <td><a href="{{ site.baseurl }}/docs.html"><img src=
        "{{ site.baseurl }}/docs.png" alt="Documentation" width="60" height="81"></a></td>
      </tr>

      <tr>
        <td><a href="{{ site.baseurl }}/lists.html"><img src="{{ site.baseurl }}/mailing_list.png" alt="Mailing Lists" width="60" height=
        "81"></a></td>
      </tr>

      <tr>
        <td><a href="{{ site.baseurl }}/dev.html"><img src="{{ site.baseurl }}/development.png" alt="Development" width="60" height=
        "81"></a></td>
      </tr>

      <tr>
        <td><a href="{{ site.baseurl }}/themes.html"><img src="{{ site.baseurl }}/themes.png" alt="Themes" width="60" height=
        "81"></a></td>
      </tr>

      <tr>
        <td><a href="{{ site.baseurl }}/links.html"><img src="{{ site.baseurl }}/links.png" alt="Links" width="60" height=
        "81"></a></td>
      </tr>
    </table>
  </div>
