  <nav class="menu">
    <ul>
      <li id="home" title="Home"><a href="{{ site.baseurl }}/">Home</a></li>
      <li id="news" title="News"><a href="{{ site.baseurl }}/news">News</a></li>
      <li id="docs" title="Documentation"><a href="{{ site.baseurl }}/docs">Documentation</a></li>
      <!-- <li title=""><a href="lists.html">Community</a></li> -->
      <li id="devel" title="Development"><a href="{{ site.baseurl }}/dev">Development</a></li>
      <li id="themes" title="Themes"><a href="{{ site.baseurl }}/themes">Themes</a></li>
      <li id="links" title="Links"><a href="{{ site.baseurl }}/links">Links</a></li>

      <!-- <li><a href="download.html">Download</a></li> -->
    </ul>
  </nav>
