  <nav class="nav">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/news">News</a></li>
      <li><a href="{{ site.baseurl }}/docs">Documentation</a></li>
      <!-- <li><a href="lists.html">Community</a></li> -->
      <li><a href="{{ site.baseurl }}/dev">Development</a></li>
      <li><a href="{{ site.baseurl }}/themes">Themes</a></li>
      <li><a href="{{ site.baseurl }}/links">Links</a></li>

      <!-- <li><a href="download.html">Download</a></li> -->
    </ul>
  </nav>
