[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=WmRadio
Comment=Fm radio
Exec=xwmradio
Icon=wmradio.png
Terminal=false
Categories=Application;AudioVideo;
StartupNotify=false
