#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	autoconf
	dh_auto_configure

# Not intended for use by anyone except the author.
announcedir:
	@echo ${HOME}/src/joeywiki/code/wmbattery/news
