---
layout: default
---
<article class="post">


    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
	{% assign sorted_dockapps = site.categories.[page.title] | sort %}
	{% for dockapp in sorted_dockapps %}
	  <div class="post-content">
	  <img src="/img/{{ dockapp.images | first }}"
	       style="float: left; margin: 5px;">
	  <a href="{{ dockapp.url }}">{{ dockapp.title }}</a>
	  <br>
	  {{ dockapp.content | markdownify }}
	  </div>
	  {% endfor %}
      </div>
    </div>

</article>
