<!DOCTYPE html>
<head>
  <title>Window Maker: {{ page.title }}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css" media="all">
</head>
  <body>
    <div id="wrapper">
      <div id="titlebar">
        <div id="minimize"></div><div id="titlebar-inner">Window Maker: {{ page.title }}</div><div id="close"></div>
      </div>
      <header>
      <h1>
        <a href="{{ site.baseurl }}/">
          <span class="first">Window</span><span class="second">Maker</span>
        </a>
      </h1>
      </header>
      {% include header.html %}
      <article>
      {{ content }}
      </article>
      <div id="resizebar">
        <div id="resizel"></div><div id="resizebar-inner"></div><div id="resizer"></div>
      </div>
  </div>
  </body>
</html>
